<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.viz.nextagram">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeView"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WritingArticleView"
            android:label="@string/title_activity_write">
            <intent-filter>
                <action android:name=".WritingArticleView" />
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>

        <activity
            android:name=".ArticleView"
            android:label="@string/title_activity_viewer">
            <intent-filter>
                <action android:name=".ArticleView" />
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>

        <service android:name=".SyncDataService">
            <!--android:exported="false" 다른 app이 사용할 수 있는지 여부, intent-filter 있으면 default가 true-->
            <!--5.0부터 보안 문제 때문에 service는 명시적 인텐트만 사용가능-->
        </service>

        <provider
            android:authorities="com.example.nextagram.provider"
            android:name=".NextagramProvider"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true"
            android:readPermission="com.example.nextagram.provider.READ"
            android:writePermission="com.example.nextagram.provider.WRITE" />

    </application>

</manifest>
